

* {border: 1px solid blue;}

body {
    background-color: #999;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

#container {
    background-color: #444;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    margin: 20px;
    padding: 20px;
}

#display {
    background-color: #e6e6e6;
    width: 30%;


}

button {
    height: 50px;
    width: 50px;
}

/* this is where I discovered that using ids such as "0" and "+" are a bad idea...  */
.digit   {
    color: red;
}

#buttons {
    display: flex;
    flex-flow: row wrap;
    max-width: 250px;
}


